.landingPage{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin:auto;
    margin-left:12rem;
    margin-top:3rem;
}
.welcomeText h1{
    font-size: 50px;
    margin-bottom:1rem;
}
.buttonContainer{
    
    margin-top:2rem;
    width:15rem;

}
.welcomeButton{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
    background-color:rgb(76, 69, 179);
    color:white;
    border-radius:5px;
    padding:1rem;
}
.welcomeButton:hover, .withdrawButton:focus, .withdrawButton:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


