

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:2rem;
  background: #330867 ;
  color:white;
  position:sticky;
  top:0;
  z-index: 5;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

.nav_list_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white;
}
.nav_list_container_services {
  display: flex;
  align-items: center;
  margin-right:55rem;
  color:white;
}
.nav_list {
/* : #c4c9d9; */
color:white;
  margin-right: 50px;
  justify-content: flex-start;
}
.navButton{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
    background-color:white;
    color:#330867 ;
    padding:1rem;
    border:none;
    padding :2px;
    width:100px;
    height:40px;

}
.navButton:hover, .navButton:focus, .navButton:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.logo{
    
    color:white 
}
a{
    color:white;
    font-size:1.2rem;
}

