.loginForm{
  display:flex;
  flex-direction:column;
}
.loginForm form{
  display:flex;
  flex-direction:column;
  background:white;

}

.loginForm input{
  display:flex;
  flex-direction:column;
  background:rgb(246, 238, 238);
  margin-top:1rem;
  height:3rem;
  width:30rem;
  border-radius: 10px;
  border-style: hidden;
  border-color: slategray;
  text-indent: 15px;
  
}
input:focus {
  /* border-style: hidden; */
  background-color:white;
  

}
.loginForm h1{
  margin-bottom:20px;
  color:rgb(76, 69, 179);

}
.loginForm label{
color:rgb(76, 69, 179);
}

.loginForm button{
  height:50px;
  background-color:rgb(76, 69, 179);
  color:white;
  margin-top:1rem;
  border-radius: 10px;
  border-style: hidden;
}

